{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <a href="/joke" class="btn btn-secondary mb-2">Добавить шутку</a>
    {% endif %}
    {% for item in jokes %}
        <div class="col-md6 border rounded mb-2">
            <h2>{{item.title}}</h2>
            <div>
                {{item.text}}
            </div>
            <div>
                Лайки: {{ item.likes|length }}
            </div>
            {% if current_user.is_authenticated %}
                <a href="/like/{{ item.id }}" class="btn btn-success px-2">
                    {% if current_user in item.likes %}
                        <i class="bi bi-hand-thumbs-down"></i>
                    {% else %}
                        <i class="bi bi-hand-thumbs-up"></i>
                    {% endif %}
                </a>
                {% if current_user == item.user %}
                    <div>
                        <a href="/joke/{{ item.id }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="/delete/{{ item.id }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}